loglevel=warn
@it-enterprise:registry=http://tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/
always-auth=true
; Считайте этот токен проверки подлинности паролем. Не передавайте его никому, даже сотрудникам службы поддержки Майкрософт. Срок действия токена истечет не позже 16.03.2020.
; begin auth token
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiJjYzUxNjE3YS02NGRmLTRiMzYtOTUxMy05YThmODNmNDg2NGMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiN2NhZjI5OWItNjM0OS00MzJlLWJmNGUtODMwYmNkNzA4Mjk0Iiwic2lkIjoiNGExYjU1ZjAtZmNjZC00YzlkLTkxMTgtOTE0MDQ0MTAwOTk4IiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1NzY1NzcwOTUsImV4cCI6MTU4NDM1MzA5NX0.1y3fIsguLUSLQr-Bj7nWJFjf593Y2XSDtE-aO5uBkHDhIkisgzjqCqFuc8Nrt25eF5rBieLp5Mqv7tyTAE91qytY_7TAPsJ9CT3O0JG4_nOZGBMV7tO4iSguEC8vi86nt0gHlWwaC1X0qg4ocjEcgAyaLAJjj4tzNARd0Z_uDjmsTk44dneV3T9_4GjGKM5mtdcnFv3HHslkdhYNhFR4fIDWszQW2qyjpeqgTugE1aMVX5G32hugBy0jjBP1TTYdj_XZXrY--VMAa_2QxV66A0_gqdM-0TPzeuc6PH7_n-_J1DMZxBkSQ5HPM5L7GwmEK2mvtnFihz5VQiNQC0lnIw
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiJjYzUxNjE3YS02NGRmLTRiMzYtOTUxMy05YThmODNmNDg2NGMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiN2NhZjI5OWItNjM0OS00MzJlLWJmNGUtODMwYmNkNzA4Mjk0Iiwic2lkIjoiNGExYjU1ZjAtZmNjZC00YzlkLTkxMTgtOTE0MDQ0MTAwOTk4IiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1NzY1NzcwOTUsImV4cCI6MTU4NDM1MzA5NX0.1y3fIsguLUSLQr-Bj7nWJFjf593Y2XSDtE-aO5uBkHDhIkisgzjqCqFuc8Nrt25eF5rBieLp5Mqv7tyTAE91qytY_7TAPsJ9CT3O0JG4_nOZGBMV7tO4iSguEC8vi86nt0gHlWwaC1X0qg4ocjEcgAyaLAJjj4tzNARd0Z_uDjmsTk44dneV3T9_4GjGKM5mtdcnFv3HHslkdhYNhFR4fIDWszQW2qyjpeqgTugE1aMVX5G32hugBy0jjBP1TTYdj_XZXrY--VMAa_2QxV66A0_gqdM-0TPzeuc6PH7_n-_J1DMZxBkSQ5HPM5L7GwmEK2mvtnFihz5VQiNQC0lnIw
; end auth token
